html,
html,
body {
    margin: 0;
}

body {
    margin: 1rem;
}

h1 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

th,
td {
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}
