html,
html,
body {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.investment {
    &-title {
        margin: 1rem;
        font-size: 1.5rem;
    }
}

.assets {
    margin-bottom: 1rem;
    padding: 1rem;
    border-top: 1px solid #ddd;

    &-title {
        margin: 10px 0;
        font-size: 1.3rem;
    }
    &-list {
        margin: 0;
    }
}

.asset-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    padding: 0 8px;

    .label {
        color: #333;
    }

    .value {
        font-weight: bold;
        color: #c948c9;
    }

    .unit,
    .percent {
        margin-left: 8px;
        font-size: 14px;
        color: #999;
    }
}

.accounts {
    &-list {
        margin: 0 1rem;
    }
}

.account {
    overflow: hidden;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dae9f6;
    border-radius: 10px;
    background: aliceblue;

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        dt {
            font-size: 14px;
            color: #333;
        }

        .value {
            font-weight: bold;
            color: #c948c9;
        }

        .unit,
        .market-unit,
        .percent {
            margin-left: 0.5rem;
            font-size: 12px;
            color: #666;
        }
    }

    &-actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 1rem;
        button {
            width: 100%;
            border-radius: 10px;
            border: none;
            padding: 10px 2rem;
            border: 1px solid #b2dbff;
            background: #d2e9fd;
            color: #435c80;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                border-color: #7eacd4;
                color: #2a4162;
            }
            &:disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}

.sellOrder {
    display: flex;
    flex-direction: column;

    position: relative;
    // top: 1rem;
    // left: 1rem;
    // right: 1rem;
    // z-index: 100;

    margin: 0 -1rem;

    padding: 1rem;
    // background-color: aliceblue;
    border-top: 1px solid #c7dcee;

    background: #fefff4;

    .title {
        margin: 1rem 0;
        color: #666;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 14px;
        color: #666;
        dt,
        dd {
            margin: 10px 0;
        }

        dt {
            width: 30%;
        }
        dd {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            box-sizing: border-box;
            width: 70%;
            padding-left: 10px;
        }
        .sellPrice {
            display: block;
        }
    }

    input {
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        border: 1px solid #dbdbdb;
        text-align: right;
        color: #715c4c;
        &:focus-visible {
            outline: #ad9b8d auto 1px;
        }
    }

    .unit,
    .market-unit {
        margin-left: 8px;
        font-size: 12px;
        color: #999;
    }

    .orderAvailable {
        align-items: center;
        color: #715c4c;
        .value {
            font-weight: bold;
        }
    }

    .sellPrice-inputs {
        display: flex;
        align-items: center;
    }

    .sellPrice-options {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        margin-top: 15px;
        label {
            display: flex;
            // align-items: center;
        }
    }
    .sellPrice-options-input {
        label {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
        input {
            width: 70px;
        }
    }

    // .orderQuantity {
    // }

    // .totalOrderAmount {
    // }

    &-caution {
        border-radius: 8px;
        padding: 8px 10px;
        border: 1px solid #ddd;
        font-size: 12px;
        color: red;
    }

    &-memo {
        dl {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            font-size: 12px;
        }
        dt,
        dd {
            margin: 0;
        }
    }

    &-actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        button[type="reset"] {
            width: 30%;
        }
        button[type="submit"] {
            flex: 1;
        }
    }

    button {
        border-radius: 5px;
        border: none;
        padding: 8px 0;
        border: 1px solid #eae3dd;
        background: #f7f9f4;
        color: #afa399;
        font-weight: normal;
        cursor: pointer;
        &:hover {
            border-color: #e2d8d0;
            color: #8f8074;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.3;
        }
        &:focus-visible {
            outline: #ad9b8d auto 1px;
        }
    }

    .closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 5px 10px;
        font-size: 11px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 20, 30, 0.7);
}
