html,
html,
body {
    margin: 0;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
}

h2 {
    margin: 10px 0;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
}

.tradeState {
    margin-bottom: 2rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    // border-radius: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-top: 1px dashed #ddd;
        padding: 8px 0;
    }

    p {
        margin: 0;
    }

    .value {
        font-weight: bold;
        color: #c948c9;
    }
}

.accountsList {
    margin: 0 1rem;

    li {
        padding: 0 1rem;
        margin-bottom: 1rem;
        border: 1px solid #dae9f6;
        border-radius: 10px;
        background: aliceblue;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px dashed #dae9f6;
        }

        .value {
            font-weight: bold;
            color: #c948c9;
        }

        .actions {
            padding: 1rem 0;
        }
    }
}

.unit,
.percent {
    margin-left: 0.5rem;
    font-size: 12px;
    color: #666;
}

// table {
//     width: 100%;
//     border-collapse: collapse;
//     border-spacing: 0;
// }

// th {
//     font-weight: normal;
// }

// th,
// td {
//     padding: 5px;
//     border: 1px solid #ddd;
//     font-size: 14px;
//     text-align: center;
// }
