html,
html,
body {
    margin: 0;
}

button {
    cursor: pointer;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
}

h2 {
    margin: 10px 0;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
}

.tradeState {
    margin-bottom: 2rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    // border-radius: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-top: 1px dashed #ddd;
        padding: 8px 0;
    }

    p {
        margin: 0;
    }

    .value {
        font-weight: bold;
        color: #c948c9;
    }
}

.accountsList {
    margin: 0 1rem;

    li {
        padding: 0 1rem;
        margin-bottom: 1rem;
        border: 1px solid #dae9f6;
        border-radius: 10px;
        background: aliceblue;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px dashed #dae9f6;
        }

        .value {
            font-weight: bold;
            color: #c948c9;
        }
    }
    .actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 1rem 0;
        button {
            width: 100%;
            border-radius: 10px;
            border: none;
            padding: 10px 2rem;
            border: 1px solid #b2dbff;
            background: #d2e9fd;
            color: #435c80;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                border-color: #7eacd4;
                color: #2a4162;
            }
            &:disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}

.unit,
.percent {
    margin-left: 0.5rem;
    font-size: 12px;
    color: #666;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 20, 30, 0.7);
}

.askOrder {
    display: flex;
    flex-direction: column;

    position: relative;
    // top: 1rem;
    // left: 1rem;
    // right: 1rem;
    // z-index: 100;

    // padding: 1rem;
    // background-color: aliceblue;
    // border: 1px solid #c7dcee;
    border-radius: 10px;

    h4 {
        color: #174975;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    dt,
    dd {
        margin: 10px 0;
    }

    dt {
        width: 30%;
    }
    dd {
        width: 70%;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }

    .askPrice {
        display: flex;
        button {
            padding: 0 1rem;
        }
    }
    .actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        button {
            padding: 10px;
        }
        button[type="reset"] {
            width: 30%;
        }
        button[type="submit"] {
            flex: 1;
        }
    }

    .closeButton {
        position: absolute;
        top: 1rem;
        right: 0;
    }
}
