html,
html,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.investment-title {
  margin: 1rem;
  font-size: 1.5rem;
}

.assets {
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}
.assets-title {
  margin: 10px 0;
  font-size: 1.3rem;
}
.assets-list {
  margin: 0;
}

.asset-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #ddd;
  padding: 0 8px;
}
.asset-item .label {
  color: #333;
}
.asset-item .value {
  font-weight: bold;
  color: #c948c9;
}
.asset-item .unit,
.asset-item .percent {
  margin-left: 8px;
  font-size: 14px;
  color: #999;
}

.accounts-list {
  margin: 0 1rem;
}

.account {
  overflow: hidden;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border: 1px solid #dae9f6;
  border-radius: 10px;
  background: aliceblue;
}
.account-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-item dt {
  font-size: 14px;
  color: #333;
}
.account-item .value {
  font-weight: bold;
  color: #c948c9;
}
.account-item .unit,
.account-item .market-unit,
.account-item .percent {
  margin-left: 0.5rem;
  font-size: 12px;
  color: #666;
}
.account-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 1rem;
}
.account-actions button {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px 2rem;
  border: 1px solid #b2dbff;
  background: #d2e9fd;
  color: #435c80;
  font-weight: bold;
  cursor: pointer;
}
.account-actions button:hover {
  border-color: #7eacd4;
  color: #2a4162;
}
.account-actions button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.sellOrder {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 -1rem;
  padding: 1rem;
  border-top: 1px solid #c7dcee;
  background: #fefff4;
}
.sellOrder .title {
  margin: 1rem 0;
  color: #666;
}
.sellOrder-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #666;
}
.sellOrder-list dt,
.sellOrder-list dd {
  margin: 10px 0;
}
.sellOrder-list dt {
  width: 30%;
}
.sellOrder-list dd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  padding-left: 10px;
}
.sellOrder-list .sellPrice {
  display: block;
}
.sellOrder input {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid #dbdbdb;
  text-align: right;
  color: #715c4c;
}
.sellOrder input:focus-visible {
  outline: #ad9b8d auto 1px;
}
.sellOrder .unit,
.sellOrder .market-unit {
  margin-left: 8px;
  font-size: 12px;
  color: #999;
}
.sellOrder .orderAvailable {
  align-items: center;
  color: #715c4c;
}
.sellOrder .orderAvailable .value {
  font-weight: bold;
}
.sellOrder .sellPrice-inputs {
  display: flex;
  align-items: center;
}
.sellOrder .sellPrice-options {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-top: 15px;
}
.sellOrder .sellPrice-options label {
  display: flex;
}
.sellOrder .sellPrice-options-input label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.sellOrder .sellPrice-options-input input {
  width: 70px;
}
.sellOrder-caution {
  border-radius: 8px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: red;
}
.sellOrder-memo dl {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 12px;
}
.sellOrder-memo dt,
.sellOrder-memo dd {
  margin: 0;
}
.sellOrder-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.sellOrder-actions button[type=reset] {
  width: 30%;
}
.sellOrder-actions button[type=submit] {
  flex: 1;
}
.sellOrder button {
  border-radius: 5px;
  border: none;
  padding: 8px 0;
  border: 1px solid #eae3dd;
  background: #f7f9f4;
  color: #afa399;
  font-weight: normal;
  cursor: pointer;
}
.sellOrder button:hover {
  border-color: #e2d8d0;
  color: #8f8074;
}
.sellOrder button:disabled {
  pointer-events: none;
  opacity: 0.3;
}
.sellOrder button:focus-visible {
  outline: #ad9b8d auto 1px;
}
.sellOrder .closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 10px;
  font-size: 11px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 20, 30, 0.7);
}

/*# sourceMappingURL=accounts.css.map */
